<div class="container mt-5 pt-5" style="max-width: 1000px">
    <ul class="list-group shadow">
        <li class="list-group-item p-4">
            <div class="row align-items-center">
                <div class="col-md text-start">
                    <h5 class="mb-0">
                        {{ this.subject.title }}
                        <span class="spinner-border spinner-border-sm" *ngIf="this.loading"></span>
                    </h5>
                </div>
                <div class="col-md text-end">
                    <a class="btn btn-link" routerLink="/subjects">Back to Subjects!</a>
                    <button class="btn btn-primary mx-2" *ngIf="!this.loading" (click)="this.getCourses()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/><path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/></svg>
                    </button>
                    <button class="btn btn-primary mx-2" disabled *ngIf="this.loading">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/><path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/></svg>
                    </button>
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="!this.loading">
                        Add Courses
                    </button>
                    <button class="btn btn-primary dropdown-toggle" type="button" disabled *ngIf="this.loading">
                        Add Courses
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                        <li>
                            <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addAllModal" (click)="this.aboutToAddAll()">Add all</button>
                        </li>
                        <li>
                            <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addOneModal" (click)="this.aboutToAdd()">Add one</button>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="list-group-item p-4">
            <div class="alert alert-danger text-center small" role="alert" *ngIf="this.errorMsg != ''">
                {{ this.errorMsg }}
            </div>
            <div class="text-center" *ngIf="false">
                <span class="spinner-border"></span>
            </div>
            <div class="table-responsive">
                <table class="table table-sm small">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Slots</th>
                            <th>Day</th>
                            <th>Time</th>
                            <th>Teacher(s)</th>
                            <th>Fix</th>
                            <th>Collidable</th>
                            <th>Ignored</th>
                            <th>Priority</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let course of this.models">
                            <td>{{ course.code }}</td>
                            <td>{{ course.slots }}</td>
                            <td>{{ course.day }}</td>
                            <td>{{ course.start }}-{{ course.end }}</td>
                            <td>{{ course.teachers }}</td>
                            <td>
                                <svg *ngIf="course.fix" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16"><path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" /></svg>
                            </td>
                            <td>
                                <svg *ngIf="course.collidable" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16"><path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" /></svg>
                            </td>
                            <td>
                                <svg *ngIf="course.ignored" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16"><path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" /></svg>
                            </td>
                            <td>{{ course.priority }}</td>
                            <td>
                                <a role="button" data-bs-toggle="modal" data-bs-target="#addOneModal" (click)="this.aboutToEdit(course.copy())">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16"><path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/></svg>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
    </ul>
</div>

<!-- Add-all modal -->
<div class="modal fade" id="addAllModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adding all Courses</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Select the export.xlsx file!</label>
                    <input #fileInput type="file">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addCoursesViaXlsx(fileInput.files)">Add!</button>
            </div>
        </div>
    </div>
</div>

<!-- Add-one modal / Edit modal -->
<div class="modal fade" id="addOneModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" *ngIf="this.intention == 'add'">Adding one Course</h5>
                <h5 class="modal-title" *ngIf="this.intention == 'edit'">Editing Course</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label">Code</label>
                        <input type="text" class="form-control" [(ngModel)]="this.tempModel.code">
                    </div>
                    <div class="col">
                        <label class="form-label">Free slots</label>
                        <input type="number" class="form-control" [(ngModel)]="this.tempModel.slots">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label">Day</label>
                        <select class="form-select" [(ngModel)]="this.tempModel.day">
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                            <option value="Sunday">Sunday</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label">Start</label>
                        <input type="time" class="form-control" [(ngModel)]="this.tempModel.start">
                    </div>
                    <div class="col">
                        <label class="form-label">End</label>
                        <input type="time" class="form-control" [(ngModel)]="this.tempModel.end">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Teachers</label>
                    <input type="text" class="form-control" [(ngModel)]="this.tempModel.teachers">
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="fixCheck" [(ngModel)]="this.tempModel.fix">
                            <label class="form-check-label" for="fixCheck">Fix</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="collidableCheck" [(ngModel)]="this.tempModel.collidable">
                            <label class="form-check-label" for="collidableCheck">Collideable</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="ignoredCheck" [(ngModel)]="this.tempModel.ignored">
                            <label class="form-check-label" for="ignoredCheck">Ignored</label>
                        </div>
                    </div>
                    <div class="col">
                        <label class="form-label">Priority</label>
                        <input type="number" class="form-control" [(ngModel)]="this.tempModel.priority">
                    </div>
                </div>
                <button type="button" class="btn btn-primary w-100" data-bs-dismiss="modal" (click)="this.add(this.tempModel.toDto())" *ngIf="this.intention == 'add'">Add!</button>
                <div class="row" *ngIf="this.intention == 'edit'">
                    <div class="col">
                        <button type="button" class="btn btn-warning w-100" *ngIf="!this.clickedDelete" (click)="this.clickedDelete = true">Delete!</button>
                        <button type="button" class="btn btn-danger w-100" data-bs-dismiss="modal" *ngIf="this.clickedDelete" (click)="this.delete(this.tempModel.id)">Confirm Delete!</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary w-100" data-bs-dismiss="modal" (click)="this.update(this.tempModel.id, this.tempModel.toDto())">Update!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
