<div class="container mt-5 pt-5" style="max-width: 1000px">
    <ul class="list-group shadow">
        <li class="list-group-item p-4">
            <div class="row align-items-center">
                <div class="col text-start">
                    <h5 class="mb-0">Subjects</h5>
                </div>
                <div class="col text-end">
                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">Add Subject!</a>
                </div>
            </div>
        </li>
        <li class="list-group-item p-4">
            <div class="alert alert-danger text-center small" role="alert" *ngIf="false">
                error message
            </div>
            <div class="text-center" *ngIf="false">
                <span class="spinner-border"></span>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md text-start">Subject I. [4]</div>
                        <div class="col-md text-end">
                            <a href="#">Edit Subject</a> | <a routerLink="/subjects/some_id">Courses</a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md text-start">Subject II. [3]</div>
                        <div class="col-md text-end">
                            <a href="#">Edit Subject</a> | <a routerLink="/subjects/some_id">Courses</a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md text-start">Subject III. [2]</div>
                        <div class="col-md text-end">
                            <a href="#">Edit Subject</a> | <a routerLink="/subjects/some_id">Courses</a>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>

<!-- Add modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adding Subject</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Title</label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-4">
                    <label class="form-label">Credits</label>
                    <input type="number" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Add!</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editing Subject</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Title</label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-4">
                    <label class="form-label">Credits</label>
                    <input type="number" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Update!</button>
            </div>
        </div>
    </div>
</div>
