<div class="container mt-5 pt-5" style="max-width: 1000px">
    <ul class="list-group shadow">
        <li class="list-group-item p-4">
            <div class="row align-items-center">
                <div class="col-md text-start">
                    <h5 class="mb-0">
                        Busy Timeblocks
                        <span class="spinner-border spinner-border-sm" *ngIf="this.loading"></span>
                    </h5>
                </div>
                <div class="col-md text-end text-nowrap">
                    <a class="btn btn-link" routerLink="/subjects">Go to Daily Active Times!</a>
                    <button class="btn btn-primary mx-2" *ngIf="!this.loading" (click)="this.fetch()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/><path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/></svg>
                    </button>
                    <button class="btn btn-primary mx-2" disabled *ngIf="this.loading">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/><path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/></svg>
                    </button>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal" *ngIf="!this.loading" (click)="this.aboutToAdd()">Add Busy Timeblock!</button>
                    <button class="btn btn-primary" disabled *ngIf="this.loading">Add Busy Timeblock!</button>
                </div>
            </div>
        </li>
        <li class="list-group-item p-4">
            <div class="alert alert-danger text-center small" role="alert" *ngIf="this.errorMsg != ''">
                {{ this.errorMsg }}
            </div>
            <!-- <div class="text-center" *ngIf="false">
                <span class="spinner-border"></span>
            </div> -->
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let btb of this.busyTimeBlocks">
                    <div class="row">
                        <div class="col-md text-start">{{ btb.day }} {{ btb.start }}-{{ btb.end }}</div>
                        <div class="col-md text-end">
                            <a class="btn btn-link p-0" data-bs-toggle="modal" data-bs-target="#modal" (click)="this.aboutToEdit(btb.copy())">Edit</a>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>

<!-- Add modal / Edit modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" *ngIf="this.intention == 'add'">Adding Busy timeblock</h5>
                <h5 class="modal-title" *ngIf="this.intention == 'edit'">Editing Busy timeblock</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label text-danger">id (only for testing)</label>
                    <input type="text" class="form-control" *ngIf="this.intention == 'add'" [(ngModel)]="this.busyTimeblockToBeAdded.id">
                    <input type="text" class="form-control" *ngIf="this.intention == 'edit'" [(ngModel)]="this.busyTimeblockToBeEdited.id">
                </div>
                <div class="mb-3">
                    <label class="form-label">Day</label>
                    <select class="form-select" *ngIf="this.intention == 'add'" [(ngModel)]="this.busyTimeblockToBeAdded.day">
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                    </select>
                    <select class="form-select" *ngIf="this.intention == 'edit'" [(ngModel)]="this.busyTimeblockToBeEdited.day">
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                    </select>
                </div>
                <div class="row mb-5">
                    <div class="col">
                        <label class="form-label">Start</label>
                        <input type="time" class="form-control" *ngIf="this.intention == 'add'" [(ngModel)]="this.busyTimeblockToBeAdded.start">
                        <input type="time" class="form-control" *ngIf="this.intention == 'edit'" [(ngModel)]="this.busyTimeblockToBeEdited.start">
                    </div>
                    <div class="col">
                        <label class="form-label">End</label>
                        <input type="time" class="form-control" *ngIf="this.intention == 'add'" [(ngModel)]="this.busyTimeblockToBeAdded.end">
                        <input type="time" class="form-control" *ngIf="this.intention == 'edit'" [(ngModel)]="this.busyTimeblockToBeEdited.end">
                    </div>
                </div>
                <button type="button" class="btn btn-primary w-100" data-bs-dismiss="modal" *ngIf="this.intention == 'add'" (click)="this.add()">Add!</button>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <button type="button" class="btn btn-primary w-100" data-bs-dismiss="modal" *ngIf="this.intention == 'edit'" (click)="this.update()">Update!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
